<section id="tasks">
    <ul>
        <%if(tasks.length==0){%>
            <h4>Nao ha nenhuma task</h4>
        <%}else {%>
            <%for (let i = 0; i < tasks.length; i++) {%>
                <li class="check-<%=tasks[i].check%>" >
                    <div>
                        <a class="check-<%=tasks[i].check%>" href="/check/<%=tasks[i]._id%>"><%= tasks[i].task %></a>
                        <span><%= tasks[i].date.toLocaleDateString('pt-BR')%></span>
                    </div>
                    <div>
                        <a class="btnEdit" href="/edit/<%= tasks[i]._id %>"><i class="bi bi-pencil-square"></i></a>
                        <a class="btnDelete" href="/delete/<%= tasks[i]._id %>/<%= tasks[i].task %>"><i class="bi bi-trash"></i></a>
                    </div>
                </li>
            <%}%>
        <%}%>
    </ul>
</section>