<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <%if(nomeTask.task){%>
            <h1>EDITAR TAREFA</h1>
            <form action="/edit/<%= nomeTask._id %>" method="post">
                <input type="text" name="task" value="<%= nomeTask.task %>">
                <button type="submit">Editar task</button>
            </form>
        <%} else {%>
            <h1>TO DO LIST</h1>
            <form action="/create" method="post">
                <input type="text" name="task">
                <button type="submit">adicionar task</button>
            </form>
       <%}%>
        
    </header>

    <section>
        <ul>
            <%if(tasks.length==0){%>
                <h4>Nao ha nenhuma task</h4>
            <%}else {%>
                <%for (let i = 0; i < tasks.length; i++) {%>
                    <li>
                        <%= tasks[i].task %> 
                        <a href="/edit/<%= tasks[i]._id %>">Editar</a>
                        <a href="/delete/<%= tasks[i]._id %>/<%= tasks[i].task %>">Deletar</a>
                     </li>
                <%}%>
            <%}%>
        </ul>
    </section>

    <%if(modal==true){%>
        <section id="modal">
            <div id="card">
                <a href="/">X</a>
                <h2>Confimacoes</h2>
                <hr>
                <p>Deseja deletar a task <b>"<%=nomeTaskDelete%>"</b></p>
                <a href="/">Nao</a>
                <a href="/delete/<%=idTaskDelete%>">Sim</a>
            </div>
        </section>
    <%}%>

    

    <script src="/js/script.js"></script>
</body>
</html>