<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%- include ("./components/msg.ejs")%>
    <header>
        <%if(nomeTask.task){%>
            <h1>EDITAR TAREFA</h1>
            <form action="/edit/<%= nomeTask._id %>" method="post">
                <input type="text" name="task" value="<%= nomeTask.task %>">
                <button type="submit">Atualizar</button>
            </form>
        <%} else {%>
            <h1>TO DO LIST</h1>
            <form action="/create" method="post">
                <input type="text" name="task">
                <button type="submit">adicionar task</button>
            </form>
       <%}%>
        
    </header>

    <%- include ("./components/task.ejs")%> 

    <%if(modal==true){%>
        <%- include ("./components/modal.ejs")%>    
    <%}%>

    <script src="/js/script.js"></script>
</body>
</html>