<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%- include ("./components/msg.ejs")%>
    <header>
        <%if(nomeTask.task){%>
            <h1>EDITAR TAREFA</h1>
            <form action="/edit/<%= nomeTask._id %>" method="post">
                <input type="text" name="task" value="<%= nomeTask.task %>">
                <button type="submit">Atualizar</button>
            </form>
        <%} else {%>
            <h1>TO DO LIST</h1>
            <form action="/create" method="post">
                <input type="text" name="task">
                <button type="submit">adicionar task</button>
            </form>
       <%}%>
        
    </header>

    <section id="tasks">
        <ul>
            <%if(tasks.length==0){%>
                <h4>Nao ha nenhuma task</h4>
            <%}else {%>
                <%for (let i = 0; i < tasks.length; i++) {%>
                    <li>
                        <div>
                            <a href="/"><%= tasks[i].task %></a>
                            <span><%= tasks[i].date.toLocaleDateString('pt-BR')%></span>
                        </div>
                        <div>
                            <a class="btnEdit" href="/edit/<%= tasks[i]._id %>"><i class="bi bi-pencil-square"></i></a>
                            <a class="btnDelete" href="/delete/<%= tasks[i]._id %>/<%= tasks[i].task %>"><i class="bi bi-trash"></i></a>
                        </div>
                     </li>
                <%}%>
            <%}%>
        </ul>
    </section>

    <%if(modal==true){%>
        <section id="modal">
            <div id="card">
                <div id="head">
                    <h2>Confimação</h2>
                    <a id="close" href="/"><i class="bi bi-x"></i></a>
                </div>
                <hr>
                <p>Deseja deletar a task: <br> <b>"<%=nomeTaskDelete%>"</b></p>
                <div id="btns">
                    <a id="btnNot" href="/">Nao</a>
                    <a id="btnYes" href="/delete/<%=idTaskDelete%>">Sim</a>
                </div>
            </div>
        </section>
    <%}%>

    

    <script src="/js/script.js"></script>
</body>
</html>